* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  font-size: 10px;
}
section {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  padding: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  max-width: 80px;
}
nav ul {
  display: flex;
  gap: 4rem;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 400;
  font-size: 1rem;
}
.conten {
  position: relative;
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}
.text-box {
  max-width: 600px;
}
h2 {
  color: #333;
  font-size: 6.4em;
  line-height: 1.4em;
  font-weight: 500;
}
h2 span {
  color: #017143;
  font-size: 1.4em;
  font-weight: 700;
}
p {
  color: #333;
  font-size: 18px;
  margin-top: 20px;
  line-height: 1.8;
}
.text-box a {
  display: inline-block;
  text-decoration: none;
  background-color: #017143;
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
  padding: 8px 20px;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
}
.img-box {
  width: 60em;
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
}
.img-box img {
  width: 340px;
}
.thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%);
  display: flex;
  gap: 20px;
  /* justify-content: center; */
}
.thumb li {
  display: inline-block;
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.thumb li::after,
.thumb li:hover {
  transform: translateY(-15%);
}
.thumb li img {
  max-width: 60px;
}
